@model work_1.Models.Product


    <div class="row mb-2 product-row">
        <div class="col-10">
            @Html.DropDownList("productId", ViewBag.product as SelectList, "-----Select-----", new { @class = "form-select form-select-sm mb-2" })
        </div>
        <div class="col-2">
            <a href="#" class="btn btn-danger btn-sm btnDelete"><i class="fa fa-trash"></i></a>
        </div>
    </div>